@use "../../src/scss/breakpoints";

.columns-4-6-button {
  .container {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoints.for-bp("tablet-lg") {
      grid-template-columns: 3fr 4fr;
    }

    .wrapper {
      padding-top: 50px;
      padding-bottom: 25px;

      .button {
        margin-bottom: 1rem;
      }

      .title {
        font-family: var(--font-Patrick-Hand-SC);
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;

        @include breakpoints.for-bp("tablet-lg") {
          font-size: 3rem;
          line-height: 1;
        }
      }
    }

    .image {
      overflow: hidden;

      @include breakpoints.for-bp("tablet-lg") {
        display: flex;
        align-items: flex-end;
        grid-row: 1;
      }

      img {
        display: block;
        width: 100%;
        height: 150px;
        object-fit: contain;

        @include breakpoints.for-bp("tablet-lg") {
          margin-bottom: -50px;
          height: 250px;
        }
      }
    }
  }
}