// Colors palette
:root {
	--primary-color: #111E52;
	--secondary-color: #70abfc;

	--menu-item-color: #111E52;
	--menu-item-hover-color: #70abfc;

	--font-color: #111E52;

	--link-color: #111E52;
	--link-hover-color: #70abfc;
	
	--color-white: #ffffff;
}