footer {
	font-family: var(--font-poppins);
	border-top: 1px solid var(--primary-color);

	* {
		font-size: .75rem;

		@include for-bp("tablet-lg") {
			font-size: 1rem;
		}
	}

	.wrapper {
		padding-top: 70px;
		padding-bottom: 50px;

		@include for-bp("tablet-lg") {
			display: grid;
			grid-template-columns: 2fr 3fr;
		}

		.logo {
			width: 200px;
			margin: 0 auto;

			@include for-bp("tablet-lg") {
				grid-row: 1;
				width: 250px;
				margin: initial;
			}
		}

		.text {
			text-align: center;
			font-weight: 600;

			@include for-bp("tablet-lg") {
				grid-row: 2;
				text-align: left;
			}
		}

		.socials {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: 40%;
			margin: 0 auto;
			gap: 15px;

			.social {
				aspect-ratio: 1/1;
				width: 40px;
				display: flex;

				a {
					display: flex;
				}
			}

			@include for-bp("tablet-lg") {
				grid-row: 3;
				justify-content: start;
				width: 80%;
				margin: initial;
			}
		}

		.columns {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 15px;
			padding: 25px 40px;
			text-align: center;

			@include for-bp("tablet-lg") {
				grid-row: 1 / 4;
				text-align: left;
			}

			.column {
				display: grid;
				gap: 10px;

				@include for-bp("tablet-lg") {
					gap: 15px;
				}
			}
		}

		.copyright {
			text-align: center;
			margin-top: 50px;

			@include for-bp("tablet-lg") {
				grid-row: 4;
				grid-column: 1 / 3;
			}
		}
	}
}