body {
	font-family: var(--font-poppins);
	color: var(--font-color);
	font-size: 16px;
}

a {
	text-decoration: none;
	color: var(--link-color);
	cursor: pointer;
}

p {
	font-size: 1rem;
	margin-bottom: 1rem;
}

h1,
.h1 {
	font-family: var(--font-Patrick-Hand-SC);
	margin-bottom: 2.5rem;
	font-size: 2.25rem;
	line-height: 2.5rem;

	@include for-bp("tablet-lg") {
		margin-bottom: 4rem;
		font-size: 3.75rem;
		line-height: 1;
	}
}

h2,
.h2 {
	margin-bottom: .5rem;
	font-size: 1.875rem;
	line-height: 2.25rem;
}

h3,
.h3 {
	font-size: 1.5rem;
	line-height: 2rem;
}

.border-radius {
	border-radius: var(--border-radius);
}

.wrapper {
	padding-left: 5%;
	padding-right: 5%;
	// width: 90%;
	// margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 75px;

	@include for-bp("desktop-switch") {
		// width: 85%;
		padding-left: 7.5%;
		padding-right: 7.5%;
	}

	@include for-bp("desktop-md") {
		// width: 80%;
		padding-left: 10%;
		padding-right: 10%;
	}
}