header {
	font-family: var(--font-poppins);
	font-size: 1.5rem;
	margin: 0 auto;

	@include for-bp("tablet-lg") {
		font-size: 1.25rem;
	}

	// Navbar styling
	.navbar {
		position: relative;
		background-color: var(--color-white);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		.navbar-brand {
			padding: 1rem;

			img {
				max-height: 50px;
			}
		}

		.navbar-nav {
			display: none;
			width: 100%;
			background-color: var(--color-white);
			position: absolute;
			top: 48px;

			@include for-bp("tablet-lg") {
				display: flex;
				gap: 1rem;
				width: auto;
				list-style: none;
				padding: 0;
				margin: 0;
				position: unset;
			}

			.nav-item {
				display: block;
				text-align: center;
				margin: 0;
				padding: 0.5rem 0;

				.nav-link {
					padding: 0.5rem 1rem;
					width: 100%;
					display: block;
					color: var(--menu-item-color);
					text-decoration: none;
					transition: color 0.3s ease;

					&:hover {
						color: var(--menu-item-hover-color);
					}
				}
			}
		}

		// Toggle icon for small screens
		.navbar-toggler {
			display: block;

			@include for-bp("tablet-lg") {
				display: none;
			}

			color: var(--menu-item-color);
			font-size: 24px;
			cursor: pointer;
			padding: 1rem 2rem 1rem 1rem;

			&.open~.navbar-nav {
				display: block;
			}
		}
	}

}