@use "../../src/scss/breakpoints";

.services {
  .service {
    display: grid;
    gap: .5rem;
    margin-bottom: 2rem;

    @include breakpoints.for-bp("tablet-lg") {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 0;
      margin-bottom: 0;

      &:nth-child(odd) {
        grid-template-areas:
          "text image";
      }

      &:nth-child(even) {
        grid-template-areas:
          "image text";
      }
    }


    .text {
      @include breakpoints.for-bp("tablet-lg") {
        grid-area: text;
      }
    }

    .image {
      img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;

        @include breakpoints.for-bp("tablet-lg") {
          max-width: unset;
          aspect-ratio: 6 / 4;
          object-fit: contain;
        }
      }

      @include breakpoints.for-bp("tablet-lg") {
        grid-area: image;
      }
    }
  }
}